<footer class="container-footerpartial">

  <div class="row">
    <div class="col-sm-3">
      <h5>Contact Information</h5>
      <p>
        Storkower St.124<br />
        Berlin, Germany 13055<br />
        Phone: (000) 000 000 00<br />
        Email: info@expat101.com
      </p>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>

  </div>

  <div class="copyrights">
    <p>
      <em>Copyright © 2023 Gulsah Bayazit & Ulkar Isayeva. All rights reserved.</em>
    </p>
  </div>

</footer>