<footer class="bg-light text-center">
  <div class="bg-footer">
    <div class="container p-4 bg-footer">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <br />
          Phone: (000) 000 000 00
          <br />
          Email: info@expat101.com
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5>Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.facebook.com/" class="text-dark max-width:8%"><img src="/images/facebook.png" alt=""></a>
          </li>
          <li>
            <a href="https://www.instagram.com/" class="text-dark"><img src="/images/instagram.png" alt=""></a>
          </li>
          <li>
            <a href="https://www.twitter.com/" class="text-dark max-width:8%"> <img src="/images/twitter.png" alt=""></a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="text-center p-3">
    <em>
      © Copyright 2023 Gulsah Bayazit & Ulkar Isayeva. All rights reserved.</em>
  </div>
</footer>
