<footer class="bg-light text-center">
  <div class="bg-footer">
    <div class="container p-4 bg-footer">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-center">
           <h5>Contact Information</h5>
           <p>
          Storkower St.124 Berlin, Germany 13055
          <br />
          Phone: (000) 000 000 00
          <br />
          Email: info@expat101.com
        </p>
      </div>

  <div class="text-center p-3">
    <em>
      © Copyright 2023 Gulsah Bayazit & Ulkar Isayeva. All rights reserved.</em>
  </div>
</footer>
