<nav class="navbar px-5 pt-5">
  <div class="container-navbar">
    <a href="/">
      <img
        src="/images/logo.png"
        alt="Logo"
        width="100"
        height="100"
        class="d-inline-block align-text-top ml-40"
      />
    </a>
  </div>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/about">About</a>
    </li>

    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false"
      >Tips and tricks</a>
      <ul class="dropdown-menu">
        <div class="col-sm-6">
        <li><a class="dropdown-item" href="/accomodation">Accomodation</a></li></div>
        <div class="col-sm-6"></div> <li><a class="dropdown-item" href="/courses">Courses</a></li></div>
         <div class="col-sm-6"></div><li><a class="dropdown-item" href="/socialLife">Events</a></li></div>

      </ul>
    </li>

    {{#if user }}
      <li class="nav-item">
      <a class="nav-link" href="/myaccount">My Account</a>
    </li> 
     <li class="nav-item">
      <a class="nav-link" href="/index/logout">Log out</a>
    </li> 
    {{/if}}
    {{#unless user}}
    <li class="nav-item">
      <a class="nav-link" href="/login">Log in</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/signup">Sign up</a>
    </li>
    {{/unless}}
  </ul>
</nav>