<nav class="navbar px-5" style="background-color: #e3f2fd;">
  <div class="container-navbar">
    <a href="/">
      <img
        src="/images/logo.png"
        alt="Logo"
        width="100"
        height="100"
        class="d-inline-block align-text-top ml-40"
      />
    </a>
  </div>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/about">About</a>
    </li>

    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false"
      >Tips and tricks</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Accomodation</a></li>
        <li><a class="dropdown-item" href="#">Courses</a></li>
        <li><a class="dropdown-item" href="#">Events</a></li>

      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Log in</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/signup">Sign up</a>
    </li>
  </ul>
</nav>