<nav class="navbar">
  <div class="container-navbar">
    <a  href="#">
      <img src="" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
    </a>
  </div>
</nav>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Tips and tricks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Log in</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Sign up</a>
  </li>
</ul>

