{{> navpartial}} 

<div class="container text-center py-5">
<div class="row align-items-center gy-3">
<div class="col-md-6">
<h1>About us</h1>
  <br>
<p>Our platform was founded by two expats who are also technology enthusiasts based in Germany. They recognized the challenges faced by many expats who move to a new country, and saw an opportunity to use technology to help ease the transition process.
</p>
 <p>
As experienced expats themselves, they know firsthand the struggles of navigating a new culture and building a life in a foreign country. With their combined expertise in technology and international living, they set out to create a platform that would make life easier for expats all around the world.
<p>
Their vision was to create a one-stop-shop for expats, offering a range of resources to help them thrive in their new home country. They wanted to create a community where expats could share their experiences, while also accessing expert advice and guidance from those who have been there before.
    </p>
    <p>
Thanks to their passion and dedication, our platform has become a go-to resource for expats across the globe. We are proud to have been founded by fellow expats who are committed to helping others succeed in their new home countries.
    </p>
</p>
</div>
  <div class="col-md-6 pb-4">
<img  src="/images/about.jpg" class="container-fluid img-home" alt="header-img"></div>
</div>
</div>
<br>


<div class="container text-center pt-4">
<div class="row align-items-center gy-3">
    <h2>Our Team</h2>
<div class="col-md-6">
    <br>
    <img class="rounded-circle w-50" src="/images/gulsah.jpg" alt="gulsah-photo">
    <br>
    <br>
      <div class="github">
         <a href="https://github.com/gulsahbayazit" class="hover-link"><h5>Gülsah Bayazit</h5></a>
         </div>
        <p>I am a junior fullstack developer with an architecture/design background and realized that problem solving, design, programming and the digital world are what I love most. To develop a good digital product interface, to work in a multidisciplinary team, it is essential to understand both the perspective of design and development.</p>
   
    </div>
 

<div class="col-md-6">

 <br>
    <img class="rounded-circle w-50" src="" alt="ulkar-photo">
    <br>
     <br>
     <div class="github">
     <a href="https://github.com/ulkarisayeva" class="hover-link"><h5>Ulkar Isayeva</h5></a>
     </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa harum eligendi eaque sunt provident. Ratione alias, libero voluptatem amet debitis tenetur, nihil laboriosam dolores laborum, architecto doloribus maiores quae reprehenderit.</p>
    
</div>
</div>
</div>
<br>
{{> footerpartial}}