<img src="" alt="">
<h3>Lorem ipsum dolor sit amet.</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima adipisci laudantium quos. 
    Aut exercitationem nobis totam quaerat id voluptatibus unde,  eius optio nesciunt explicabo 
    nemo obcaecati, cum corporis nam tenetur? Lorem ipsum dolor sit amet consectetur, adipisicing 
    elit. Nulla porro architecto, modi nemo harum natus libero facilis nihil ipsa repudiandae 
    provident unde vitae quam. Aliquid ratione cumque explicabo similique.
    </p>

<h3>Our Team</h3>
    <img src="" alt="">
    <a href="https://github.com/gulsahbayazit">Gulsah Bayazit</a>


    <img src="" alt="">
    <a href="https://github.com/ulkarisayeva">Ulkar Isayeva</a>