{{> navpartial this}} 
<div class="bg">
<div class="container text-center py-5">
<div class="col">
<h1>How to find an accomodation in Berlin?</h1>
  <br>
<div>
<img src="/images/accomodation.jpg" class="tips-img" alt="header-img"></div>
</div> <br>
<p>If you're planning on staying in Berlin for an extended period of time, finding the right long-term accommodation is crucial. Here are some tips to help you find the perfect long-term accommodation in this cool city.
</p>
<br>
</div>
</div>

<div class="container">
  <div class="row">
{{#each accomodations}}
{{> cardspartial this}}
{{/each}}
</div>
</div>
<br>

{{!-- Comment out later  --}}

      {{!  Rating
<div class="rating">
  <input type="radio" id="star5" name="rating" value="5" />
  <label for="star5">5 stars</label>
  <input type="radio" id="star4" name="rating" value="4" />
  <label for="star4">4 stars</label>
  <input type="radio" id="star3" name="rating" value="3" />
    <label for="star3">3 stars</label>
      <input type="radio" id="star2" name="rating" value="2" />
    <label for="star1">1 stars</label>
      <input type="radio" id="star1" name="rating" value="1" />
    <label for="star1">1 stars</label>

   }}
  
    

{{> footerpartial}} 


