{{> navpartial}} 
<div class="bg">
<div class="container text-center py-5">
<div class="col">
<h1>How to find German courses in Berlin?</h1>
  <br>
<div>
<img src="/images/german.jpg" class="tips-img" alt="header-img"></div>
</div> <br>
<p>If you're looking to learn German in Berlin, you're in luck! There are many language schools, private tutors, and community centers that offer German courses for learners of all levels. Here are some beneficial tips, tricks and links.
</p>
<br>
</div>
</div>
<div class="container">
  <div class="row">
{{#each courses}}
{{> cardspartial this}}
{{/each}}
</div>
</div>
<br>
{{> footerpartial}} 