{{> navpartial}} 
<div class="container text-center py-5">
<div class="row align-items-center">

<div class="col-md-6">
<h2>How to settle to your new home?</h2>
<p>Welcome to our community of Expats in Berlin! We understand that living in a new city can be challenging, especially when it comes to finding a place to live, learning new skills, and discovering interesting events. That's why we recommend each other helpful links that might make your transition to Berlin a little bit easier.
It is basically platform to benefir the experiences of other expats. 
You can create an account to add your own recommendations as well.
</p>
 <button type="submit" class="btn btn-danger"> <a href="/signup">Create your account</a></button>
</div>
  <div class="col-md-6">
<img  src="/images/header.jpg" class="container-fluid" alt="header-img"></div>
</div>
</div>

{{!-- Accomodation --}}
<div class="container text-center">
<div class="row align-items-center">
<div class="col-md-6">
<img src="/images/header.jpg" class="container-fluid w-75" alt="header-img"></div>
<div class="col-md-6">
<h3>1. Find an accomodation</h3>
<p>Finding the right place to live in Berlin can be a challenge, but these recommendations make it easier. Discover a wide range of housing options and make your move to the city stress-free.</p>
 <button type="submit" class="btn btn-danger"> <a href="/accomodation">Learn More</a></button>
</div>
</div>
</div>

{{!-- Courses --}}
<div class="container text-center">
<div class="row align-items-center">
<div class="col-md-6">
<h3>2. Start to language courses</h3>
<p>Learning German is essential for getting the most out of life in Berlin. These advises from other expats provide an extensive list of courses, tutors, and schools to help you become fluent in the language.</p>
 <button type="submit" class="btn btn-danger"> <a href="/accomodation">Learn More</a></button>
</div>
  <div class="col-md-6">
<img  src="/images/header.jpg" class="container-fluid" alt="header-img">
</div>
</div>
</div>

{{!-- Events --}}
<div class="container text-center">
<div class="row align-items-center">
<div class="col-md-6">
<img  src="/images/header.jpg" class="container-fluid" alt="header-img"></div>
<div class="col-md-6">
<h3>3. Discover Social Life</h3>
<p>Berlin is a vibrant city with a lot to offer. These recommendations provide variety of events and social activities in the city, so you'll never run out of things to do.</p>
 <button type="submit" class="btn btn-danger"> <a href="/accomodation">Learn More</a></button>
</div>
</div>
</div>




</div>
{{> footerpartial}} 
