{{> navpartial}}


  <div class="" section"">
    <div></div>
  </div>

  <div class="container-login container text-left">
    <h3 class="text-center"> Login to your account </h3>

      <form class="row g-3"  action="/login" method="POST">
        <div>
          <label for="userName" class="form-label">Username: </label>
          <input type="text" name="userName"class="form-control">
        </div>

        <div>
          <label for="password" class="form-label">Password: </label>
          <input type="password" name="password" class="form-control"/>
        </div>
       
            <divc class="col-12 d-grid gap-2">
                <button type="submit" class="fl-button fl-button-primary fl-width-1-1">Log in</button>
                <a class="text-center" href="/signup">Create an account</a>
                {{! <a href="/change-password">Change password</a> }}
            </div>
       
      </form>
  </div>

  {{!-- {{#if message}}
  <h3 class="error">{{message}}</h3>
{{/if}} --}}
{{#if message}}
  <p class="text-center">{{message}}</p>
{{/if}}
</div>
{{> footerpartial}}

