{{> navpartial this}}

<br>
  <div class="" section"">
    <div></div>
  </div>

  <div class="container-login container text-left">
    <h2 class="text-center fw-bold "> Login to your account </h2>
<br>
      <form class="row g-3"  action="/login" method="POST">
        <div>
          <label for="userName" class="form-label">Username: </label>
          <input type="text" name="userName"class="form-control">
        </div>

        <div>
          <label for="password" class="form-label">Password: </label>
          <input type="password" name="password" class="form-control"/>
        </div>
       
            <div class="col-12 d-grid gap-2">
                <button type="submit" class="btn btn-light btn-width-1-1">Log in</button>
                <a class="text-center" href="/signup">Create an account</a>
            </div>
       
      </form>
  </div>
{{#if message}}
  <p class="text-center">{{message}}</p>
{{/if}}
</div>
{{> footerpartial}}

