<div class="container">

  <div class="section">

    <form action="/login" method="POST">
      <div>
        <label for="userName" class="form-label">Username: </label>
        <input
          type="text"
          name="userName"
          class="form-control"
        />
      </div>

      <div>
        <label for="password" class="form-label">Password: </label>
        <input
          type="password"
          name="password"
          class="form-control"
        />
      </div>

      <div>
        <button type="submit">Log in</button>
        <a href="/signup">Create an account</a>
        {{! <a href="/change-password">Change password</a> }}
      </div>
    </form>

  </div>

  {{!-- {{#if message}}
  <h3 class="error">{{message}}</h3>
{{/if}} --}}

</div>