{{> navpartial this}} 





<div class="text-center">
   <div>
    <img class="myaccount-img" src="/images/berlin.jpg">
  <br>
  <br>
    <h4 class="text-capitalize">{{session.user.userName}}</h4>
    <p>{{session.user.occupation}}</p>
  </div>
    <div>
        <a href="/create"> 
          <button class="btn btn-width-1-1 blue-btn"> Add tricks and tips </button>
        </a>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
<div class="row">
<h4>Accomodation</h4>
{{#each accomodations}}
{{> cardspartial this}}
{{/each}}
</div>
</div>
<br>

<div class="container">
<div class="row">
<h4>Courses</h4>
{{#each courses}}
{{> cardspartial this}}
{{/each}}
</div>
</div>
<br>


<div class="container">
<div class="row">
<h4>Events</h4>
{{#each socialLife}}
{{> cardspartial this}}
{{/each}}
</div>
</div>
<br>
        

<br>

{{> footerpartial}} 