{{> navpartial}} 
<div class="conatiner-account">
  <img src="" alt="" />
  <p>{{this.userName}}</p>
  <p>{{this.occupation}}</p>
</div>
<button>Add tricks and tips</button>
<section class="added">
  <h2>Added</h2>
</section>

{{!-- user could upload image --}}
        
<section class="saved">
  <h2>Saved</h2>
</section>

{{> footerpartial}} 