{{> navpartial}} 

</section>
<div class="container">
  <div class="row">
{{#each accomodations}}
{{> cardspartial this}}
{{/each}}
</div>
</div>
<br>

{{!-- user could upload image --}}
        
<section class="saved">
  <h2>Saved</h2>
</section>

{{> footerpartial}} 