{{> navpartial}} 

<div class="text-center">
   <div>
    <img class="profil-img rounded-circle shadow-4-strong" src="/images/human-profile-iconn.png">
    <h5>{{this.userName}}</h5>
    <p>{{this.occupation}}</p>
  </div>
    <div>
        <a href="/create"> 
          <button class="btn btn-light btn-width-1-1 "> Add tricks and tips </button>
        </a>
    </div>
</div>

{{!-- user could upload image --}}
        


{{> footerpartial}} 