{{> navpartial this}} 

<div class="text-center">
   <div>
    <img class="myaccount-img" src="/images/berlin.jpg">
    <h5>{{session.user.userName}}</h5>
    <p>{{session.user.occupation}}</p>
  </div>
    <div>
        <a href="/create"> 
          <button class="btn btn-light btn-width-1-1 "> Add tricks and tips </button>
        </a>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
<div class="row">
<h4>Accomodation</h4>
{{#each accomodations}}
{{> cardspartial this}}
{{/each}}
</div>
</div>
<br>

<div class="container">
<div class="row">
<h4>Courses</h4>
{{#each courses}}
{{> cardspartial this}}
{{/each}}
</div>
</div>
<br>


<div class="container">
<div class="row">
<h4>Events</h4>
{{#each socialLife}}
{{> cardspartial this}}
{{/each}}
</div>
</div>
<br>
        


{{> footerpartial}} 