{{> navpartial this}} 



<div class="text-center">
   <div>
    <img class="profil-img rounded-circle shadow-4-strong" src="/images/human-profile-iconn.png">
    <h5>{{user.userName}}</h5>
    <p>{{user.occupation}}</p>

  </div>
    <div>
        <a href="/create"> 
          <button class="btn btn-light btn-width-1-1 "> Add tricks and tips </button>
        </a>
    </div>
</div>
<br>


{{!-- user could upload image --}}
        
<div class="container">
  <div class="row">
{{#each accomodations}}
{{> cardspartial this}}
{{/each}}
{{#each courses}}
{{> cardspartial this}}
{{/each}}
{{#each socialLife}}
{{> cardspartial this}}
{{/each}}
</div>
</div>
<br>

{{> footerpartial}} 