
{{> navpartial}} 
<br>
<div class="container-signup container text-left">
    <div class="text-center">
        <h2 class="fw-bold ">Create your account</h2>
          <div>
            <span class="subtitle fst-italic:"> Already have an account?</span>
            <a class="link-warning" href="/login">Log in</a>
          </div>       
    </div>
    <br>
    
    <form class="row g-3 " action="/signup" method="POST" >
      {{!-- <p class="fw-bold text-center"> <em> Please complete all required fields.</em></p> --}}
            <div class="col-12" >
                <label for="userName" class="form-label">Username</label>
                <input type="text" class="form-control" name="userName" required>
            </div>
            <div class="col-md-6">
                 <label for="firstName" class="form-label">Name</label>
                 <input type="text" class="form-control" name="firstName" required>
            </div>
            <div class="col-md-6" >
                <label for="lastName" class="form-label">Surname</label>
                <input type="text" class="form-control" name="lastName"  required>
            </div>
            <div class="col-md-6">
                <label for="country" class="form-label">Country </label>
                <input type="text"  class="form-control" name="country">
            </div>
            <div class="col-md-6">
                <label for="occupation" class="form-label">Occupation </label>
                <input type="text" class="form-control" name="occupation">
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="email"  class="form-control" name="email" placeholder="example@expat101.com" required>
            </div>
            <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <input type="password"  class="form-control" name="password" required>
                    <div>
                        <p> Your password must contain at least 8 characters,  one Uppercase letter and 1 digit</p>

                        
                    </div>
            </div>
            <div  class="col-12 d-grid gap-2">
                 <button class="btn btn-light btn-width-1-1" type="submit">Sign up!</button>
            </div>
            {{!-- user could upload image --}}
    </form>
</div>

{{> footerpartial}} 