
font-family: "Merriweather", serif;
font-family: "Montserrat", sans-serif;

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


@media(min-width:800px){
  .container-signup {
    display: block;
    width: 30%;
  }
  .container-login {
    display: block;
    width: 30%;
  }
}

.fl-button-primary {
  background-color: #00e3aa;
  border-color: #00e3aa;
  border-style: solid;
  padding: 8px 32px;
}
  