body{
  padding: 0%;
  margin: 0%;
}

.container-sign-up{
  background-color: antiquewhite;
  /* width: 100vw; */
  height: 50vh;
}

.section-sign-up{
  /* display: flex; */
  justify-content: center;
  text-align: center;
}